.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    grid-area: nav;
    color: white;
}

.navigation li {
    float: left;
    border-right: white;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: blue;
}

.navigation input {
    padding: 14px 16px;
}